{% extends "layout.html" %}

{% block title %}Election details - {{ election.title }}{% endblock %}

{% block body %}
<div class='volby'>
    <h1>{{ election.title }}</h1>

    <fieldset>
        <legend>Election info</legend>

        {% if election.photo %}
            <img src='{{ election.photo }}'>
        {% endif %} 

        <div class='title'>Starting time:
            <p>{{ election.date_from }}</p>
        </div>
        
        <div class='title'>Ending time:
            <p>{{ election.date_to }}</p>
        </div>        

        <div class='title'>Status:
            <p>{{ election.status }}</p>
        </div>

        <div class='title'>Description</div>
        
            {{ election.text }}
        
        <br>

   </fieldset> 
</div>
{% endblock %}
