{% extends "layout.html" %}

{% block title %}Election details - {{ election.title }}{% endblock %}

{% block body %}
<div class='volby'>
    <h1>{{ election.title }}</h1>

    <fieldset>
        <legend>Informácie o voľbách</legend>

        <div class='title'>Začiatok volieb
            <p>{{ election.date_od }}</p>
        </div>
        
        <div class='title'>Ukončenie volieb
            <p>{{ election.date_do }}</p>
        </div>        

        <div class='title'>Stav volieb
            <p>{{ election.status }}</p>
        </div>

        <div class='title'>Popis volieb</div>
        
            {{ election.text }}
        
        <br>

   </fieldset> 
</div>
{% endblock %}
