<!doctype html>
<head>
    <meta http-equip="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <meta name=AUTHOR content="Peter Margetiak">    
    <meta name=COPYRIGHT content="&copy; 2011 Peter Margetiak">
    <meta name=DESCRIPTION content="lokalne volby">
    
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.5.2.min.js') }}" ></script> 

    {% block headers %}{% endblock %}	

    <script type='text/javascript'>
     $().ready(function() {
        {% block jquery %}{% endblock %}	       
        });
    {% block javascript %} {% endblock %}
    </script>

    <title>{% block headtitle %}  {{ self.title() }} {% endblock %}</title>
</head>

<body>
    <div id="wrapper">
		<div id="header">
            <h1><img src="{{ url_for('static',filename='css/images/header/voting.gif') }}"  height="45" alt="Local Election system">Local voting software system</h1>
          
            <div id='nav'>  
                <a href="{{ url_for('index') }}">Home</a>
                {% if not session.user %}<a href="{{ url_for('login') }}">Login</a>{% else %}<a href="{{ url_for('logout') }}">Logout</a>{% endif %}
                {% if session.admin %}<a href="{{ url_for('admin') }}">ADMIN</a>{% endif %}
                <a href="{{ url_for('election') }}">Election</a>
            </div>
			
		</div>
        <div id="headline">	
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                <div class="{% if category!='message' %}{{ category }}{% else %}info{% endif %}"> {{ msg }} </div>
                {% endfor %}
		</div>
        <div id="body">
            <!-- body start --> 
            <div id="body-left">
		        {% block body %}{% endblock %}	
            </div>
            <!-- body  end   --> 
            <!-- right start --> 
			<div id="body-right">
                {% block right %}{% endblock %}            
			</div>
	    </div>
		<div class="clear"></div>
		</div>
 
    
    <div id="footer">
		<div>Template designed by <a href='http://www.freewebtemplates.com'>freewebtemplates</a> &copy; 2006 all rights reserved.</div>
	</div>
</body>
</html>
